:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.select {
    color: white;
    text-align: center;
    min-width: 15ch;
    max-width: 30ch;
    border: black 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.25em;
    font-size: 20px;
    cursor: pointer;
    line-height: 1.1;
    background-color: #777777;
}